*{
    padding: 0px;
    margin: 0px;
    font-family: myFont, "Verdana";
}

@font-face {
    font-family: myFont;
    src: url(../font/Arvo-Regular.ttf);
}

body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main{
    width:100%;
    font-family: myFont, "Verdana";
    box-sizing: border-box;
}

aside{
    /*margin-top: 100px;*/
    float: left;
    display:inline-block;
    width:30%;
    height:90%;
    min-height:90% !important;
    font-size: 20px;
    padding: 40px 50px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    overflow-y: scroll;
}

#tableCandidatos{
    margin-top: 20px;
    font-size: 18px;
}

section{
    /*margin-top: 100px;*/
    float: left;
    display:inline-block;
    width:70%;
    height:90%;
    font-size: 20px;
    padding: 35px 50px;
    box-sizing: border-box;
}

#formNuevoCandidato {
    width: 700px;
}

#celdaImagen, #celdaFormulario{
    vertical-align: top;
}

#celdaBotonGuardar{
    text-align: right;
    padding-top: 40px;
    padding-right: 10px;
}

.botonGuardar{
    padding: 10px 25px;
    color:white;
    background-color: #00B4E0;
    border:0px;
    font-weight: bold;
    font-size: 18px;
    /*box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75)*/
    cursor: pointer;
}
.botonGuardar:hover{
    background-color: #1681B4;
}

.elemento{
    padding: 5px;
}

.tableElementoText{
    border: 2px solid #272C35;
}

.celda{
    background-color: white;
    height: 40px;
    padding: 0px 5px;
}

input{
    font-size: 18px;
    border: 0px;
}

label{
    font-size: 18px;
}

img{
    vertical-align: middle;
}

input[type="radio"]{
    border: 0px;
    width: 23px;
    height: 2em;
    foreground:green;
    vertical-align: middle;
}

input[type='radio']:before {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: 7px;
    left: 1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #E0E0E0;
}

input[type='radio']:hover:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -18px;
    left: 0px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #00B4E0;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -16px;
    left: 2.5px;
    position: relative;
    background-color: #00B4E0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.number-wrapper {
    position: relative;
}

input[type="number"]{
    width: 80px;
    height: 32px;
    border: 2px solid #E0E0E0;
    text-align: right;
    padding: 2px;
    box-sizing: border-box;
}

.number-wrapper:before {
    content: url("../images/arrow_up.png");
    position: absolute;
    top:7px;
    left: 59px;
    width: 15px;
    height: 5px;
    font-size: 0px;
    pointer-events: none;
    background: white;
    padding-left: 5px;
}

.number-wrapper:after {
    content: url("../images/arrow_down.png");
    position: absolute;
    top:14px;
    left: 59px;
    width: 15px;
    height: 5px;
    font-size: 0px;
    pointer-events: none;
    background: white;
    padding-left: 5px;
}

.celdaColumna2{
    padding-left: 55px;
}

#celdaImagen{
    padding-left: 60px;
    padding-right: 120px;
}

#celdaImagen label{
    width: 155px;
    height: 170px;
}

#contenedorImagen{
    border: 2px solid #F2F2F2;
    width: 150px;
    height: 150px;
    padding: 10px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}


#contenedorFormulario{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.userIcon{
    padding-right: 10px;
}

#delete{
    padding-left: 10px;
}

.colorTictum{
    color:#00B4DF;
}

#inputBuscar{
    height: 34px;
    width: 275px;
    padding: 5px;
    border: 1px solid gray;
}

#labelDatosCandidato{
    word-wrap: break-word;
    cursor: pointer;
    font-size: 17px;
}

aside::-webkit-scrollbar {
    width: 0.8em;
}

aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

aside::-webkit-scrollbar-thumb {
    background-color: #66748C;
    outline: 1px solid black;
}