*{
    padding: 0px;
    margin: 0px;
}

main{
    margin:0px;
    padding:0px;
    width:100%;
    height:600px;
    font-family: 'Arvo', Arial;
}

nav{
    width:95.5%;
    height:20px;
    border-bottom: 0px;
    background: #272C35;
    list-style-type: none;
    padding: 40px 30px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

#tableMenu td{
    padding-right: 110px;
}

.linkMenu{
    text-decoration:none;
    color:white;
}

#tableMenu td a:hover{
    transform: scale(1.4);
    color:#00B4E0;
}

aside{
    margin-top: 100px;
    float: left;
    display:inline-block;
    width:250px;
    height:100%;
    font-size: 20px;
    padding: 40px 25px;
    background-color: #D1F6FF;
    position:fixed;
}

#tableCandidatos{
    margin-top: 20px;
    font-size: 18px;
}

section{
    margin-top: 100px;
    display:inline-block;
    margin-left:350px;
    width:900px;
    height:500px;
    font-size: 20px;
    padding: 35px 50px;
}

#formNuevoCandidato {
    width: 700px;
}

#tableNuevoCandidato{
    line-height:  40px;
}

#imagenCandidato{
    text-align: center;
    border:2px dashed grey;
    color: grey;
    width: 130px;
    height: 160px;
}

#celdaImagen, #celdaFormulario{
    vertical-align: top;
}

/*input[type="text"],input[type="number"]{
    height: 30px;
    text-align: right;
    font-family: 'Arvo', Arial;
    font-size: 15px;
}*/


#celdaBotonGuardar{
    text-align: right;
    padding-top: 40px;
    padding-right: 10px;
}

.botonGuardar{
    padding: 20px 30px;
    color:white;
    text-transform: uppercase;
    background-color: #00B4E0;
    border:0px;
    font-family: 'Arvo', "Arial Black";
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}
.botonGuardar:hover{
    transform: scale(1.05);
}

.elemento{
    padding: 5px;
}

.tableElementoText{
    border: 2px solid #272C35;
}

.celda{
    background-color: white;
    height: 40px;
    padding: 0px 5px;
}

input{
    font-size: 18px;
    border: 0px;
    font-family: 'Arvo', "Arial Black";
}

label{
    font-size: 18px;
}

img{
    vertical-align: middle;
}

input[type="number"]{
     width: 80px;
     height: 40px;
     border: 2px solid #E0E0E0;
     text-align: right;
    padding: 2px;
}

input[type="radio"]{
    border: 0px;
    width: 23px;
    height: 2em;
    foreground:green;
    vertical-align: middle;
}


input[type='radio']:before {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: 7px;
    left: 1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #E0E0E0;
}

input[type='radio']:hover:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -18px;
    left: 0px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #00B4E0;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -16px;
    left: 2.5px;
    position: relative;
    background-color: #00B4E0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.number-wrapper {
    position: relative;
}

.number-wrapper:after,
.number-wrapper:before {
    position: absolute;
    right: 6px;
    width: 1.2em;
    height: 2.3em;
    font-size: 10px;
    pointer-events: none;
    background: white;
}

.number-wrapper:after {
    content: url("../images/arrow_up.png");
    margin-top: 1px;
}

.number-wrapper:before {
    content: url("../images/arrow_down.png");
    margin-bottom: 5px;
    bottom: -.5em;
}

.celdaColumna2{
    padding-left: 55px;
}

#celdaImagen{
    padding-left: 60px;
    padding-right: 120px;
}

#celdaImagen label{
    width: 155px;
    height: 170px;
}

#contenedorImagen{
    border: 2px solid #94B2B6;
    width: 155px;
    height: 150px;
    background-image: url("../images/profile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    word-wrap: break-word;
}

#contenedorImagen.over {
    border: 2px dashed #94B2B6;
}

input[type="file"]{
    display: none;
}

#nombreArchivo{
    line-height: 15px;
}
