*{
    padding: 0px;
    margin: 0px;
}

main{
    margin:0px;
    padding:0px;
    width:100%;
    height:600px;
    font-family: 'Arvo', Arial;
}

nav{
    width:95.5%;
    height:20px;
    border-bottom: 0px;
    background: #272C35;
    list-style-type: none;
    padding: 40px 30px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

#tableMenu td{
    padding-right: 110px;
}

.linkMenu{
    text-decoration:none;
    color:white;
}

#tableMenu td a:hover{
    transform: scale(1.4);
    color:#00B4E0;
}

aside{
    margin-top: 100px;
    float: left;
    display:inline-block;
    width:250px;
    height:100%;
    font-size: 20px;
    padding: 40px 25px;
    background-color: #CAEEFC;
    position:fixed;
}

#tableCandidatos{
    margin-top: 20px;
    font-size: 18px;
}

section{
    margin-top: 120px;
    display:inline-block;
    margin-left:350px;
    width:900px;
    height:600px;
    font-size: 20px;
    padding: 35px 50px;
}

#formNuevoCandidato {
    width: 700px;
}

#tableNuevoCandidato{
    margin: 0px 80px;
    line-height:  40px;

}

#imagenCandidato{
    text-align: center;
    border:2px dashed grey;
    color: grey;
    width: 130px;
    height: 160px;
}

#celdaImagen, #celdaFormulario{
    vertical-align: top;
}

/*input[type="text"],input[type="number"]{
    height: 30px;
    text-align: right;
    font-family: 'Arvo', Arial;
    font-size: 15px;
}*/


#celdaBotonGuardar{
    text-align: right;
}

.botonGuardar{
    padding: 20px 30px;
    color:white;
    text-transform: uppercase;
    background-color: #00B4E0;
    border:0px;
    font-family: 'Arvo', "Arial Black";
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.elementoText{
    padding: 5px;
}

.tableElementoText{
    border: 2px solid #272C35;
}

.elementoRadio{
    padding:0px 10px;
    height: 30px;
}

.celda{
    background-color: white;
    height: 40px;
    padding: 0px 5px;
}
input{
    font-size: 18px;
    border: 0px;
    font-family: 'Arvo', "Arial Black";
}

img{
    vertical-align: middle;
}

input[type="number"]{
    width: 80px;
    border: 2px solid black;
    text-align: right;
}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}



