*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: myFont;
    src: url(../font/Arvo-Regular.ttf);
}
body{
    padding: 0px;
    margin: 0px;
}
main{
    width: 100%;
    font-family: myFont, "Verdana";
}

section{
    margin-left: 350px;
    font-family: myFont, "Arial Black";
    width:100%;
    height: 90%;
    font-size: 18px;
}

aside{
    /*margin-top: 100px;*/
    float: left;
    display:inline-block;
    width:30%;
    height:90%;
    min-height:90% !important;
    font-size: 20px;
    padding: 40px 50px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    overflow-y: scroll;
}

#tableOpcionesVideo{
    margin-top: 20px;
    font-size: 18px;
}

#seleccionArchivo{
    display: block;
    border: 3px dashed black;
    border-radius: 20px;
    height: 300px;
}

.botonGuardar{
    padding: 20px 30px;
    color: white;
    background-color: #00B4E0;
    border: 0px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    cursor: pointer;
}
.botonGuardar:hover{
    transform: scale(1.05);
}

.elemento{
    padding: 5px;
}

.tableElementoText{
    border: 2px solid #272C35;
}

.celda{
    background-color: white;
    height: 40px;
    padding: 0px 5px;
}

input{
    font-size: 18px;
    border: 0px;
    font-family: 'Arvo', "Arial Black";
}

label{
    font-size: 18px;
}
img{
    vertical-align: middle;
}
.imagenP{
    vertical-align: middle;
    padding: 40px;
}

input[type="number"]{
     width: 80px;
     height: 40px;
     border: 2px solid #E0E0E0;
     text-align: right;
    padding: 2px;
}

input[type="radio"]{
    border: 0px;
    width: 23px;
    height: 2em;
    foreground:green;
    vertical-align: middle;
}


input[type='radio']:before {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: 7px;
    left: 1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #E0E0E0;
}

input[type='radio']:hover:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -18px;
    left: 0px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #00B4E0;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -16px;
    left: 2.5px;
    position: relative;
    background-color: #00B4E0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.number-wrapper {
    position: relative;
}

.number-wrapper:after,
.number-wrapper:before {
    position: absolute;
    right: 6px;
    width: 1.2em;
    height: 2.3em;
    font-size: 10px;
    pointer-events: none;
    background: white;
}

.number-wrapper:after {
    content: url("../images/arrow_up.png");
    margin-top: 1px;
}

.number-wrapper:before {
    content: url("../images/arrow_down.png");
    margin-bottom: 5px;
    bottom: -.5em;
}

.celdaColumna2{
    padding-left: 55px;
}

#celdaImagen{
    padding-left: 60px;
    padding-right: 120px;
}

#celdaImagen label{
    width: 155px;
    height: 170px;
}

#contenedorVideo{
    padding: 15px 50px;
    width: 100%;
    border: 2px solid transparent;
    font-size: 14px;
    overflow-y: scroll;
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    min-height:100% !important;
}

#contenedorVideo.over {
    border: 2px dashed #94B2B6;
}

input[type="file"]{
    display: none;
}

#nombreArchivo{
    line-height: 15px;
}
#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
}
#subirArchivo{
    padding: 50px;
}

input[type="file"]{
    display: none;
}

#nombreArchivo{
    line-height: 15px;
}
td a{
    text-decoration: none;
    color: black;
}
#divArrastrar{
    color: #BABABA;
}
#contenedorFormulario{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}
aside::-webkit-scrollbar {
    width: 0.8em;
}

aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

aside::-webkit-scrollbar-thumb {
    background-color: #66748C;
    outline: 1px solid black;
}