body {
    text-align: center;
    margin: 0px;
    background-color: rgba(93,182,225,0.2);
}
main{
    width: 100%;
    margin: 0px auto;
    text-align: left;
}
header{
    background-color: rgb(93, 182, 225);
    text-align:right;
    box-shadow: rgb(150,150,150) 0px 5px 10px;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-right: 20px;
    margin: 0px;

}
nav{
    text-align: center;
    padding-right: 30px;
}
nav > ul > li > a{
    font-size:20px;
    font-family:menuFontFamily;
    color: white;
}
nav > ul > li > a:link{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 14px;
}
nav > ul > li > a:visited{
    text-decoration: none;
}
nav > ul > li > a:hover{
    background-color: rgb(36, 133, 179);
}
nav > ul > li > a:active{
    background-color: black;
}
nav > ul{
    margin: 0px;
    padding: 13px;
}
nav > ul > li {
    display: inline;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;

}
