*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: myFont;
    src: url(../font/Arvo-Regular.ttf);
}

body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
main{
    width: 100%;
    box-sizing: border-box;
    font-family: myFont, "Verdana";
}

section{
    font-family: myFont, "Arial Black";
    width:100%;
    height: 90%;
    font-size: 18px;
    box-sizing: border-box;
}

#principal{
	width:100%;
	height:100%;
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.entrevista{
    padding: 20px 20px;
    width: 200px;
    background: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    margin-top: 15px;
    cursor: pointer;
    margin-right: 30px;
    text-align: center;
}

.entrevista:hover{
    transform: scale(1.05);
    background: #E0E0E0;
}

#listadoEntrevistas{
    background-color: rgba(0, 0, 0, 0.5);
    height: 30%;
    width: 100%;
    position: absolute;
    top: 70%;
    left: 0px;
    padding: 40px;
    box-sizing: border-box;
    
}

#mensaje{
	position:absolute;
	width: 40%;
	height: 50%;
	top:20%;
	left:0px;
	padding: 40px 30px;
	word-wrap: break-word;
	box-sizing: border-box;
    text-align: justify;
}

#principal img{
	width: 100%;
	height: 100%;
}

label{
    color:#00B4DF;
}