*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: myFont;
    src: url(../font/Arvo-Regular.ttf);
}

body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
main{
    width: 100%;
    box-sizing: border-box;
    font-family: myFont, "Verdana";
}

section{
    font-family: myFont, "Arial Black";
    width:100%;
    height: 90%;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    background-color: #F2F2F2;
}

#cuerpo{
    height: 100%;
    width:100%;
    box-sizing: border-box;
    padding-top: 50px;
    text-align: center;
}

.botonIndex{
    padding: 20px 0px;
    width: 300px;
    background: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    margin: 5px auto;
}

.botonIndex label{
    word-wrap: break-word;
}

.botonIndex:hover{
    transform: scale(1.05);
    background: #E0E0E0;
}

#cuerpo a{
    text-decoration: none;
    color:black;
}

.botonIndex img{
    margin-right: 10px;
}