* {
    padding: 0px;
    margin: 0px;
    font-family: myFont, "Verdana";
}

@font-face {
    font-family: myFont;
    src: url(../font/Arvo-Regular.ttf);
}

.colorTictum{
    color:#00B4DF;
}

body {
    background-color: #F2F2F2;
    box-sizing: border-box;
    min-width: 100%!important;
}

main {
    width: 100%;
    box-sizing: border-box;
    font-family: myFont, "Verdana";
}

section{
    padding: 10px auto;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
}

#tableMenu td {
    padding: 10px 0px;
    padding-right: 70px;
    vertical-align: middle;
}

.tableElementoText {
    border: 2px solid black;
    width: 120px;
    text-align: center;
    padding: 5px;
    background-color: white;
}

td{
    text-align: left;
}

input{
    padding-left: 10px;
    font-size: 18px;
    border: 0px;
}

button{
    font-size: 18px;
    border: 0px;
    font-family: myFont, "Arial Black";
    background-color: #00B4DF;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: #1681B4;
}

#celdaBotonGuardar{
    text-align: right;
}
#contenedorFormulario{
    text-align: center;
}
.errores{
    color: red;
    font-weight: bold;
}

h2{
    color: #00B4DF;
}

select {
    height: 45px;
    width: 280px;
    border: 2px solid black;
    font-size: 18px;
    font-family: myFont, "Verdana";
}

option{
    font-size: 18px;
}

/*.select-wrapper {
=======
/*
.select-wrapper {
>>>>>>> 87b2fef814dd4b26c3b00b15a5c712ab16bd6748
    position: relative;
    border: 0px;
}

.select-wrapper:after {
    position: absolute;
    right: 6px;
    width: 1.5em;
    height: 1em;
    font-size: 10px;
    pointer-events: none;
    background: transparent;
    content: url("../images/arrow_down2.png");
    margin-top: -44px;
    padding-right: 2px;
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 20px;
    border-left: 2px solid black;
<<<<<<< HEAD
}*/

.botonGuardar {
    background-color: #00B4DF;
    padding: 7px 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.botonGuardar:hover{
    background-color: #1681B4;
}

#contenedorPrincipal{
    height: 80%;
    width: 100%;
    text-align: center;
}

#contenedorCentrado{
    width: 640px;
    height: 350px;
    margin: 76px auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
}

#tableFormulario{
    margin: 10px auto;
}

label{
    font-size: 18px;
}

#columna2{
    vertical-align: top;
    padding-left: 40px;
}

img {
    vertical-align: middle;
}


